<div class="grid" id="the_grid">
    {% if loggedin %}
    <div class="favorites_bar" id="favorites_bar">
        {% set free_slots = 10 %}
        {% for favorite_site in favorite_sites %}{% set free_slots = free_slots - 1 %}<div data-address="{{ favorite_site.url }}" class="favorite_link favorite_item" data-id="{{ favorite_site.id }}"><div class="remove-icon" data-id="{{ favorite_site.id }}"><i class="fas fa-trash-alt"></i></div><img src="img/thumbnails/{{ favorite_site.title|lower|replace({' ': "_"}) }}.jpg" alt="img25"></div>{% endfor %}{% for i in 1..free_slots %}<div class="free_slot favorite_item"><i class="fas fa-thumbs-up"></i><img src="img/empty.png" /></div>{% endfor %}
    </div>
    {% endif %}

    {% for grid_item in grid_items %}
        <div class="grid_item" data-id="{{ grid_item.id }}">
            <figure class="effect-zoe">
                <div data-address="{{ grid_item.url }}" class="bookmark_link"><img src="img/thumbnails/{{ grid_item.title|lower|replace({' ': "_"}) }}.jpg" alt="img25"></div>
                <figcaption>
                    {% set title_array = grid_item.title|split(' ') %}
                    {% set last = title_array|last %}
                    {% set title = title_array|slice(0,-1)|join %}
                    <h2>{{ title }} <span>{{ last }}</span></h2>
                    <p class="icon-links">
                        {% if loggedin %}<a href="#" class="stats"><i class="fas fa-chart-pie"></i></a>{% endif %}
                        <a href="#" class="edit"><i class="fas fa-edit"></i></a>
                        <a href="#" class="fav"><i class="fas fa-thumbs-up"></i></a>
                    </p>
                </figcaption>
            </figure>
        </div>
    {% endfor %}
</div>