<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="vendor/MDBootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/MDBootstrap/css/mdb.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/dropzone.css">
    <link rel="stylesheet" href="stylesheets/master.css">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

</head>
<body>
<style>
    .card.card-cascade.wider .card-body {
        margin-left: 4%;
        margin-right: 4%;
        background: #fff;
        z-index: 1;
        border-radius: 0 0 .3rem .3rem;
    }
</style>

<div class="leftside" id="leftside_panel">
    <div class="inside_table">
        <div class="app_logo desktop"><img src="img/logo_med.png" alt="bookmarker logo"></div>
        <div class="app_logo mobile"><img src="img/logo_small.png" alt="bookmarker logo"></div>
        {# -- Top Icons -- #}
        <div class="nav_item icon_green"><i class="fas fa-book-open"></i> <span class="icon_word icon_word-js">Bookmarks</span></div>
        <div class="nav_item icon_red"><i class="fas fa-tags"></i> <span class="icon_word icon_word-js">Groups</span></div>
        <div class="nav_item icon_blue"><i class="fas fa-folder-open"></i> <span class="icon_word icon_word-js">Categories</span></div>
        <div class="nav_item icon_pink"><i class="fas fa-chart-line"></i> <span class="icon_word icon_word-js">Stats</span></div>
        <div class="nav_item icon_orange"><i class="fas fa-search"></i> <span class="icon_word icon_word-js">Search</span></div>

        {# -- Bottom Icons -- #}
        {% if loggedin %}
            <div id="user_profile_image" class="user_profile_image foot"><img src="img/users/{{ username }}.jpg" alt=""></div>
            <div class="nav_item foot icon_purple"><i class="fas fa-sliders-h"></i> <span class="icon_word icon_word-js">Settings</span></div>
            <a href="/?page=logout" class="nav_item foot icon_yellow"><i class="fas fa-sign-out-alt"></i> <span class="icon_word icon_word-js">Logout</span></a>
        {% else %}
            <a href="/?page=login" class="nav_item foot icon_purple"><i class="fas fa-sign-in-alt"></i> <span class="icon_word icon_word-js">Login</span></a>
        {% endif %}
    </div>
</div><!--


--><div class="grid" id="the_grid">

    {% for bookmark in bookmarks %}
        <div class="grid_item" data-id="{{ bookmark.id }}">
            <figure class="effect-zoe">
                <a href="{{ bookmark.url }}" target="_blank" class="bookmark_link"><img src="img/thumbnails/{{ bookmark.title|lower|replace({' ': "_"}) }}.jpg" alt="img25"></a>
                <figcaption>
                    {% set title_array = bookmark.title|split(' ') %}
                    {% set last = title_array|last %}
                    {% set title = title_array|slice(0,-1)|join %}
                    <h2>{{ title }} <span>{{ last }}</span></h2>
                    <p class="icon-links">
                        <a href="#" class="stats"><i class="fas fa-chart-pie"></i></a>
                        <a href="#" class="edit"><i class="fas fa-edit"></i></a>
                        <a href="#" class="fav"><i class="fas fa-thumbs-up"></i></a>
                    </p>
                </figcaption>
            </figure>
        </div>
    {% endfor %}
</div>

<button class="new_item_button" data-toggle="modal" data-target="#modalBookmarkForm">+</button>

{% include "partials/new_bookmark_overlay.twig" %}


<footer>
    Created in 2018 with Typescript, jQuery, MDBootstrap, Twig & lots of <3
</footer>

<script src="vendor/jquery/dist/jquery.min.js"></script>
<script src="vendor/MDBootstrap/js/popper.min.js"></script>
<script src="vendor/MDBootstrap/js/bootstrap.min.js"></script>
<script src="vendor/MDBootstrap/js/mdb.min.js"></script>
<script src="javascript/dropzone.js"></script>
<script src="javascript/master.js"></script>

</body>
</html>